<div fxLayout="column" fxLayoutAlign="space-around left">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="50">
            <input matInput placeholder="Seu nome" [(ngModel)]="dados.post.nome">
            <mat-hint>Digite seu nome</mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex="40">
            <input matInput placeholder="Seu email" [(ngModel)]="dados.post.email">
            <mat-hint>Digite seu email</mat-hint>
        </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="50">
            <input matInput placeholder="Título da mensagem" [(ngModel)]="dados.post.titulo">
        </mat-form-field>
        <mat-form-field fxFlex="40">
            <input matInput placeholder="Subtítulo da mensagem" [(ngModel)]="dados.post.subtitulo">
        </mat-form-field>
    </div>
    <mat-form-field>
        <textarea matInput placeholder="Deixe aqui sua mensangem" [(ngModel)]="dados.post.mensagem"></textarea>
    </mat-form-field>
</div>

<input type="file" #fileinput style="display:none;" (change)="mudouaqui($event)">
<button mat-stroked-button color="primary" (click)="fileinput.click()">
  <mat-icon>add_a_photo</mat-icon>
  Adicionar uma Foto
</button>
<p *ngIf="nomearquivo!=''">
    <strong>Arquivo: </strong>{{nomearquivo}}
    <mat-icon color="primary">done</mat-icon>
</p>
<br><br>

<div style="text-align:center;">
    <button mat-button color="primary" (click)="salvar()">OK</button>
    <button mat-button color="warn" (click)="cancelar()">Cancelar</button>
</div>
